body {
    background-color: #FAF8C6;
}

.toptype {
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: #E08E45;
}

li,
p,
a {
    font-family: Helvetica, sans-serif;
    color: #6B2737;
}

h2 {
    font-family: Helvetica, sans-serif;
    color: #E08E45;
}

div {
    text-align: center;
}

hr.solid {
    border-top: 2px solid #6B2737;
}

#linklist {
    display: table;
    margin: 0 auto;
}